.seller-container {
  display: flex;
  min-height: 100vh;
  background: #1e1e1e;
  color: white;
}

.seller-sidebar {
  width: 250px;
  background: #111;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.seller-sidebar a {
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.seller-sidebar a:hover {
  background: #333;
}

.seller-content {
  flex: 1;
  padding: 40px;
}
