/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #f5f5f5;
}

/* NAVBAR */
.navbar {
  background-color: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links button {
  background-color: rgb(17, 16, 16);
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

/* Product Card */
.product-card {
  position: relative;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 22px;
  padding: 18px;
  box-shadow: 
    8px 8px 25px rgba(0,0,0,0.08),
    -8px -8px 25px rgba(255,255,255,0.8);
  transition: all 0.4s ease;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 
    12px 12px 35px rgba(0,0,0,0.12),
    -12px -12px 35px rgba(255,255,255,0.9);
}

/* Image Container */
.product-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 18px;
  transition: 0.4s ease;
}

.product-card:hover img {
  transform: scale(1.06);
}

/* Title */
.product-card h3 {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

/* Price */
.product-card p {
  margin: 8px 0 15px;
  font-size: 16px;
  font-weight: 500;
  color: #666;
}

/* Button */
.product-card button {
  width: 100%;
  padding: 11px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(135deg, #111, #333);
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.product-card button:hover {
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  transform: scale(1.04);
}

/* Responsive */
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}


/* CART */
.cart-item {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-link {
  text-decoration: none;
  color: black;
}

/* Mobile */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 20px;
  }
}


